@page "/administration"
@using Microsoft.AspNetCore.Authorization
@using Schedia.Web.Shared.Layouts.Administration
@attribute [Authorize]
@layout AdministrationLayout

<PageTitle>Администрирование</PageTitle>

<h1>Панель администрирования</h1>
