@inject IHostEnvironment Env
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <base href="@_pathBase"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>
<body>
<Routes @rendermode="InteractiveServer"/>

<script src="_content/AntDesign/js/ant-design-blazor.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script src="_framework/blazor.web.js"></script>
<script src="tools.js"></script>
</body>
</html>

@code {

    private string _pathBase = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _pathBase = GetBaseUri();
    }

    private string GetBaseUri()
    {
        var pathBase = Configuration.GetValue<string>("PathBase");

        if (pathBase is null)
        {
            pathBase = "/";
        }

        if (!pathBase.EndsWith('/'))
        {
            pathBase += "/";
        }

        return pathBase;
    }

}