<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear/>
        <add key="nuget" value="https://api.nuget.org/v3/index.json"/>
        <add key="local-rsloc" value="D:\Artem\src\Avemepls.TextLocalizer\out"/>
        <add key="local-analyzers" value="D:\Artem\src\Avemepls.Analyzers\out"/>
    </packageSources>
    <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="NuGet"/>
            <add key="ClearTextPassword" value="RvScVDFhvFVWZ7L5CJNp"/>
        </gitlab>
    </packageSourceCredentials>
    <packageSourceMapping>
        <packageSource key="local-rsloc">
            <package pattern="Avemepls.*" />
        </packageSource>
        <packageSource key="local-analyzers">
            <package pattern="Avemepls.*" />
        </packageSource>
        <packageSource key="nuget">
            <package pattern="*"/>
        </packageSource>
    </packageSourceMapping>
</configuration>